body {
	background-color: #d9d9d9;
}

hr {
	width: 10%;
	color: black;
}

#Signature {
	margin-top: 1%;
	transition: all .2s ease-in-out;
}

#Signature:hover {
	transform: scale(1.1);
}

#rubrik {
	font-family: Montserrat;
	font-size: 30px;
	color: white;
	
}

.align {
	float: right;
}

#right {
	text-align: center;
	float:right; 
	width:50%;
	font-family: Montserrat;
	font-size: 20px;
	color: white;
}

#left {
	text-align: center;
	float:left; 
	width:50%;
	font-family: Montserrat;
	font-size: 20px;
	color: white;
}

#arrow {
	position: relative;
	margin-top: 18%;
	margin-left: 2%;
	transition: all .2s ease-in-out;
}

#arrow:hover {
	transform: scale(1.2);
}

#hi {
	font-family: Bebas neue;
	font-size: 180px;
	color: white;
	margin-bottom: -2%;

}
#main {
	font-family: Bebas neue;
	font-size: 40px;
	color: white;
}

#hover:hover {
	color:grey;
}
