body {
	background-color: #FFD7D7;
}

hr {
	width: 30%;
	color: white;
	background-color: white;
	height: 4px;
	border: transparent;
}

#right {
	text-align: center;
	float:left; 
	width:43%;
	font-family: Montserrat;
	font-size: 15px;
}

#left {
	text-align: center;
	float:left; 
	width:43%;
	font-family: Montserrat;
	font-size: 15px;

}

#middle {
float: left;
}

#Project {
	font-family: Montserrat;
	font-size: 60px;
	color: white;
}

#SI {
	border-radius: 5%;
	transition: all .2s ease-in-out;
}

#SI:hover {
	transform: scale(1.2);
}

#Life {
	border-radius: 5%;
	transition: all .2s ease-in-out;
}

#Life:hover {
	transform: scale(1.2);
}

#Gasen {
	border-radius: 5%;
	transition: all .2s ease-in-out;
}

#Gasen:hover {
	transform: scale(1.2);
}

#si-header {
	font-size: 15px;
	color: white;
	text-align: left;
}

#si-text {
	text-align: left;
}

#under_logo {
	text-align: left;
	font-size: 20px;
	color: white;
}

#copy {
	   position:fixed;bottom:0;

    width:100%;
    display:block;
}